{% extends "voter_analytics/base.html" %}

{% block content %}
  <h1>Voter List</h1>
  <form method="get">
      {{ form.as_p }}
      <button type="submit">Filter</button>
  </form>

  <ul>
    {% for voter in voters %}
      <li>
        <a href="{% url 'voter' voter.pk %}">
          {{ voter.first_name }} {{ voter.last_name }}, {{ voter.str_number }} {{ voter.str_name }}
        </a> - Born: {{ voter.date_of_birth }} - Party: {{ voter.party_affiliation }} - Score: {{ voter.voter_score }}
      </li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    <div>
      {% if page_obj.has_previous %}
        <a href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
        <a href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
