{% extends "project/nav.html" %}

{% block main_content %}
<div class="study-container">
<h1>Study What you got wrong!
</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="toggle">Switch</button>
    </form>
{% if display == "Japanese" %}
<h3>{{ current_word.hiragana }} <br/> {{ current_word.kanji }}</h3>
{% else %}
<h3>{{ current_word.english_meaning }}</h3>
{% endif %}

<form method="post">
    {% csrf_token %}
    {% if current_word %}
    <input type="text" name="user_answer">
    <button type="submit">Submit</button>
    {% else %}
    {% if vocab_list.vocabulary_words.exists %}
    <button type="submit">Restart</button>
    {% else %}
    <p>No more words left!</p>
    <button type="submit">Done</button>
    {% endif %}
    {% endif %}
</form>

{% if feedback %}
<p class="feedback-message">{{ feedback }}</p>
{% endif %}
<a class="return-button" href="{% url 'chapter_study' list_name=wrong_list.vocabulary_list.list_name %}">Back to Study</a>
</div>
{% endblock main_content %}