<!-- menu/templates/menu/order.html -->
{% extends 'restaurant/base.html' %}

{% block title %}Order{% endblock %}

{% block content %}
<h2>Place Your Order</h2>

<form action="{% url 'confirmation' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Menu Items</legend>
        {% for item in items %}
        <label>
            <input type="checkbox" name="{{ item.name }}">
            {{ item.name }} - ${{ item.price }} 
        </label><br>
        {% endfor %}
    </fieldset>
    <legend>Daily Special Discount : {{ special.name }} - ${{ special.price }}</legend>

    <fieldset>
        <legend>Customer Information</legend>
        Name: <input type="text" name="name" required><br>
        Phone: <input type="tel" name="number" required><br>
        Email: <input type="email" name="email" required><br>
    </fieldset>

    <input type="submit" value="Place Order">
</form>
{% endblock %}
