{% extends 'mini_fb/base.html' %}

{% block title %}{{ profile.first_name }} {{ profile.last_name }}'s Profile{% endblock %}

{% block content %}
<h2>{{ profile.first_name }} {{ profile.last_name }}'s Profile</h2>
{% if user.is_authenticated and user == profile.user %}
    <a href="{% url 'update_profile' %}">Update Profile</a><br>
{% endif %}

<img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }}" style="width: 200px; height: auto;">

<table>
    <tr>
        <th>First Name</th>
        <td>{{ profile.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{ profile.last_name }}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{ profile.city }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ profile.email }}</td>
    </tr>
</table>

<h3>Status Messages</h3>
{% if user.is_authenticated and user == profile.user %}
    <a href="{% url 'create_status' %}">Post a Status Message</a><br>
{% endif %}
<ul>
    {% for status in profile.get_status_messages %}
    <li>
        <p>{{ status.timestamp }}: {{ status.message }}
            {% if user.is_authenticated and user == profile.user %}
                <a href="{% url 'update_status' status.pk %}">Update</a>
                <a href="{% url 'delete_status' status.pk %}">Delete</a>
            {% endif %}
        </p>
        {% for img in status.get_images %}
        <img src="{{ img.image_file.url }}" alt="Image for {{ status.message }}" style="width: 100px; height: auto;">
        {% endfor %}
    </li>
    {% empty %}
    <li>No status messages.</li>
    {% endfor %}
</ul>

<h3>Friends</h3>
{% if user.is_authenticated and user == profile.user %}
    <a href="{% url 'friend_suggestions' %}">Friend Suggestions</a>
{% endif %}
<ul>
    {% for friend in profile.get_friends %}
    <li>
        <img src="{{ friend.profile_image_url }}" alt="{{ friend.first_name }}'s profile picture" style="width: 50px; height: 50px;">
        <a href="{% url 'show_profile_with_pk' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>
    </li>
    {% empty %}
        <li>No friends :C</li>
    {% endfor %}
</ul>

{% if user.is_authenticated and user == profile.user %}
    <a href="{% url 'news_feed' %}">View News Feed</a><br>
{% endif %}
<a href="/mini_fb">Return to all profiles</a>
{% endblock %}
