{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quotes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Joe Biden Quotes!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'quote' %}">Quote</a></li>
                <li><a href="{% url 'show_all' %}">Show All</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% if show %}
        <h1>Today's Quote</h1>
        <blockquote>
            <p>{{ quote }}</p>
        </blockquote>
        <img src="{% static 'quotes/' %}{{ image }}" alt="Image related to the quote" width="300">
        {% endif %}
        {% endblock %}
    </main>

</body>
</html>